<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="GitLab" value="https://gitlab.com/api/v4/projects/35605307/packages/nuget/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <gitlab>
      <add key="Username" value="saadaldulaijan" />
      <add key="ClearTextPassword" value="glpat-cf6_27ipgBtVFxSLxaqN" />
    </gitlab>
  </packageSourceCredentials>
</configuration>