<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="GitLab" value="https://gitlab.com/api/v4/projects/35605307/packages/nuget/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<GitLab>
			<add key="Username" value="SaadAldulaijan" />
			<add key="ClearTextPassword" value="glpat-cf6_27ipgBtVFxSLxaqN" />
		</GitLab>
	</packageSourceCredentials>
</configuration>